{% extends "layout.html" %}

{% block title %}Kalinovo 🚫 ⚡ 🔌 {% endblock %}

{% block content %}

<div class="pt-4 pb-4">
  <p>
    Výpadky prúdu sú v obci <a href="https://www.kalinovo.sk/" alt="Kalinovo">Kalinovo</a>
    bežné už roky. <a href="https://www.ssd.sk/">SSD</a> pri kontakte ohľadne výpadkov
    väčšinou reaguje generickou správou, že na odstránení problému pracujú ...
  </p>
</div>

<div>
  <h3>Zaznamenané prerušenia distribúcie elektriny</h3>
    {% for year, daily_data in per_year_outages.items() %}
    <div class="accordion accordion-flush" id="accordionFlush">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ year }}" style="border-bottom: 0.1rem solid;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ year}}" aria-expanded="false" aria-controls="collapse-{{ year}}">
            {{ year }}
          </button>
        </h2>
        <div id="collapse-{{ year}}" class="accordion-collapse collapse {% if year == current_year %} show {% endif %}" aria-labelledby="heading-{{ year }}" data-bs-parent="#accordionFlush">
          <div class="accordion-body">
            <div class="row">
              <div class="col">
                {% for date, times in daily_data.items() %}
                  {{ date }}
                  <ul style="padding-left: 1.5rem;">
                    {% for start, stop in times %}
                    <li>{{ start }} - {{ stop }}</li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>

              <div class="col">
                {% for key, count in per_year_outages_agg[year].counts.items() %}
                <div class="row">
                  <div>
                    <span class="float-end float-md-start">{{ key }}</span>
                  </div>
                  <div>
                    <b class="float-end float-md-start" style="font-size: 1.5rem">{{ count }}</b>
                  </div>
                </div>
                {% endfor %}

                &nbsp;

                {% for time_range, count in per_year_outages_agg[year].time_ranges.items() %}
                <div class="row">
                  <div>
                    <span class="float-end float-md-start">{{ time_range }}</span>
                  </div>
                  <div>
                    <b class="float-end float-md-start" style="font-size: 1.35rem">{{ count }}</b>
                  </div>
                </div>
                {% endfor %}

                &nbsp;

                {% for weekday, count in per_year_outages_agg[year].weekday_count.items() %}
                <div class="row">
                  <div>
                    <span class="float-end float-md-start">{{ weekday }}</span>
                  </div>
                  <div>
                    <b class="float-end float-md-start" style="font-size: 1.20rem">{{ count }}</b>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

&nbsp;
<div class="pt-4">
  <p>
    Dáta sú zbierané na zariadení <a href="https://www.raspberrypi.org/">Raspberry Pi</a>,
    na ktorom je nepretržite spustený software <a href="https://github.com/DusanMadar/raspberry-pi-downtime-monitor">raspberry-pi-downtime-monitor</a>.
  </p>
  <div class="alert alert-warning" role="alert">
    Presnosť časových záznamov je <b>cca 30 sekúnd až 1 minúta</b>
    <ul class="pt-1">
      <li>systém každých 30 sekúnd uloží aktuálny čas</li>
      <li>po výpadku prúdu
        <ul>
          <li>sa systém automaticky naštartuje (cca 15 sekúnd)</li>
          <li>zaznamená posledný známy časový záznam (viď. prvý bod) a čas štartu systému</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
